
    <footer class="footer bg-dark py-3 mt-auto" style="text-align: center;">
        <div class="container">
            <span class="text-muted">&copy; MCamp 2021</span>
        </div>
    </footer>
